<!--begin contact -->
<section class="section-white no-padding-bottom" id="contact">
        
    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">
    
            <!--begin col-md-6 -->
            <div class="col-md-6">

                <h4>Creation d'un role</h4>

                <!--begin contact form -->
                <form  id="contact-form" class="contact" [formGroup]="roleForm" (ngSubmit)="onSubmit(roleForm.value)">

                    <div  *ngIf="hasError   " class="alert alert-danger" role="alert">
                        <strong>Erreur</strong> {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span (click)="closeAlert()" aria-hidden="true">&times;</span>
                        </button>
                      </div>

                      <div  *ngIf="isSuccess" class="alert alert-success" role="alert">
                        <strong>Succes</strong> {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span  (click)="closeAlert()" aria-hidden="true">&times;</span>
                        </button>
                      </div>

                    <input class="contact-input white-input" required="" name="contact_names" id="name" formControlName="name" placeholder="Nom du role" type="text">

                    <input class="contact-input white-input" required="" name="contact_email" id="description" formControlName="description" placeholder="Description du role" type="text">

                    <button id="submit-button" [disabled]="isProcessing" class="contact-submit" type="submit">
                        Creer le role &nbsp; &nbsp; &nbsp;
                        <img *ngIf="isProcessing" src="assets/images/loader.gif" width="30" alt="pic">
                    </button>
                  
                  </form>
                
            </div>
            <!--end col-md-6 -->

        </div>
        <!--end row-->
        
  </div>
  <!--end container-->
        
</section>
<!--end contact-->