<!--begin footer -->
<div class="footer">
            
    <!--begin container -->
    <div class="container">
    
        <!--begin row -->
        <div class="row">
        
            <!--begin col-md-12 -->
            <div class="col-md-12 text-center">
               
                <p>Copyright © 2018 Nova. Designed by <a href="https://themeforest.net/user/epic-themes/portfolio?ref=Epic-Themes" target="_blank">Epic-Themes</a></p>
                                     
                <!--begin footer_social -->
                <ul class="footer_social">

                    <li>
                        <a href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa fa-skype"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="fa fa-dribble"></i>
                        </a>
                    </li>

                </ul>
                <!--end footer_social -->
                
            </div>
            <!--end col-md-6 -->
            
        </div>
        <!--end row -->
        
    </div>
    <!--end container -->
            
</div>
<!--end footer -->